// Color
$colorWhite: #fff;
$colorFuchsia: fuchsia;
$colorRed: #f00;
$colorGray: #ccc;
$colorBlack: #000;

// Font Weight
$fontWeightBold: 700;
$fontWeightSlightlyBold: 500;
$fontWeightNormal: 400;

// Font Size
$fontSizeXXLarge: 24px;
$fontSizeXLarge: 20px;
$fontSizeLarge: 16px;
$fontSizeSlightlyLarge: 15px;
$fontSizeNormal: 14px;
$fontSizeSmall: 12px;
$fontSizeXExtraSmall: 11px;
$fontSizeExtraSmall: 10px;
$fontSizeNone: 0;

// Line Height
$lineHeightXXXXXLarge: 30px;
$lineHeightXXXXLarge: 29px;
$lineHeightXXXLarge: 25px;
$lineHeightXXLarge: 24px;
$lineHeightXLarge: 22px;
$lineHeightLarge: 20px;
$lineHeightXSlightlyLarge: 18px;
$lineHeightSlightlyLarge: 17px;
$lineHeightNormal: 16px;
$lineHeightSmall: 14px;

// Shadow
$dropShadow: 0 0 2px 0 rgb(0 0 0 / 25%);

// Border
$borderSuperThick: 8px solid;
$borderThick: 4px solid;
$borderNormal: 2px solid;
$borderThin: 1px solid;
$borderThinDashed: 1px dashed;
