.mainContentContainer {
  flex-grow: 1; // 使用可能なスペースを全て埋める
  margin-left: 16px;
  margin-right: 16px;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // viewportの高さを全て使用
}
