// Color
$colorRed: #e60010;
$colorBlack: #333;

// Shadow

// Border

// Border Radius

// zIndex
$zIndexBackOfDefault: -1;
$zIndexBasic: 100;
$zIndexModalOverlay: 300;
$zIndexModal: 400;
$zIndexSnackbar: 500;

// Modal background overlay

// Margin
$mainContentsMarginTop: 24px;
