// Color
$colorRed: #e60010;
$colorBlack: #333;
$colorGray: #ccc;
$colorWhite: #ffffff;

// Font Size
$fontSizeXXLarge: 32px;
$fontSizeXLarge: 24px;
$fontSizeLarge: 16px;
$fontSizeNormal: 14px;
$fontSizeSmall: 12px;

// Font Weight
$fontWeightBold: 700;
$fontWeightNormal: 400;

// Shadow

// Border

// Border Radius

// zIndex
$zIndexBackOfDefault: -1;
$zIndexBasic: 100;
$zIndexModalOverlay: 300;
$zIndexModal: 400;
$zIndexSnackbar: 500;

// Modal background overlay

// Margin
$mainContentsMarginTop: 24px;
