@import '@/_variables';

.errorDisplayContainer {
  width: 100%;
  text-align: center;
}

.title {
  font-size: $fontSizeXXLarge;
  color: $colorRed;
}

.subTitle {
  font-size: $fontSizeXLarge;
  color: $colorBlack;
  font-weight: $fontWeightBold;
  line-height: 21px;
}

.contentRows {
  color: $colorBlack;
  font-weight: $fontWeightNormal;
  line-height: 21px;
}
