@import '@/_variables';

.errorDisplayContainer {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 32px;
  color: $colorRed;
}

.subTitle {
  font-size: 24px;
  color: $colorBlack;
  font-weight: 700;
  line-height: 21px;
}

.contentRows {
  color: $colorBlack;
  font-weight: 400;
  line-height: 21px;
}
