@import '@/_variables';

.container {
  padding: 8px;
  height: 179px;
  border: 1px solid $colorBlack;
  background-color: #f4f6f8;
  // 高さはみ出したらスクロール
  overflow-y: scroll;
}

.termsBody {
  white-space: pre-wrap;
  font-size: $fontSizeXSmall;
}
